<div>
    <h1>Encuentra distancia entre los puntos A y B</h1>
    <form [formGroup]="formulario">
        <div>
            <label for="">Coordenada1:</label>
            <input formControlName="coordenadaAx" placeholder="x1" type="number">
            <input formControlName="coordenadaAy" placeholder="y1" type="number">
        </div>
        <div>
            <label for="">Coordenada2:</label>
            <input formControlName="coordenadaBx" placeholder="x2" type="number">
            <input formControlName="coordenadaBy" placeholder="y2" type="number">
        </div>
        
        <button (click)="calcularCoordenadas()">Calcular</button>
        <h3>El resultado es: {{resultado2}}</h3>
    </form>
</div>